<meta name="viewport" content="width=device-width,initial-scale=1">

<CENTER>
<h1>これがTOP画面です。</h1>

<%= link_to "掲示板の閲覧", :controller => "blogs", :action => "index" %>
<%= link_to "新規投稿", :controller => "blogs", :action => "new" %>

<img src="/assets/001.jpg/" class="img-responsive">

</CENTER>
